# Week 2 - Monday Lesson (variable assignment, loops, lists)

# Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

##### Assigning int

In [2]:
number=123
print(number)
print(type(number))

123
<class 'int'>

##### Assinging float

In [3]:
my_float =123.456
print(my_float)
print(type(my_float))

123.456
<class 'float'>

#### Performing Calculations on ints and floats

##### Addition

In [4]:
print(2+3)
a = 1
b = 2
print(a+b)

5
3

In [5]:
my_new_num = 123
my_new_num += 2
print(my_new_num)

125

##### Subtraction

In [6]:
a = 2
b = 5.7
result_diff = b-2
print(result_diff)
print(type(result_diff))

3.7
<class 'float'>

In [7]:
result_diff -= 3
print(result_diff)

0.7000000000000002

##### Multiplication

In [8]:
result_prod= b*a
print(result_prod)

11.4

In [9]:
result_prod*=2

##### Division

In [10]:
results_div =4/2
print(results_div)
print(type(results_div))

2.0
<class 'float'>

##### Floor Division

In [11]:
results_floor =5//2
print(results_floor)

2

##### Modulo

In [12]:
result_mod = 5 % 2
print(result_mod)

1

##### Exponential

In [13]:
square = 5**2
print(square)
square**=2
print(square)

25
625

In [14]:
cubed = 5**3
print(cubed)
cubed**=3
print(cubed)

125
1953125

### String Input-Output

##### String Assignment

In [15]:
name = "Jalen"
print(name)

Jalen

In [16]:
word = "Jalen's"
print(word)

word = 'Jalen\'s'
print(word)

sentence = '"Kevin\'s Jacket is awesome", he said'
print(sentence)

sentence = "\"Kevin's Jacket is awesome\", he said"
print(sentence)

long = """
hey
you!
"Aydee" is a genius
'Dak' not so much ...
"""
print(long)

Jalen's
Jalen's
"Kevin's Jacket is awesome", he said
"Kevin's Jacket is awesome", he said

hey
you!
"Aydee" is a genius
'Dak' not so much ...

In [17]:
line = "hey \n there here is a tab \t blah blah blah new line with space"
print(line)

hey
 there here is a tab 	 blah blah blah new line with space


Don't forget about end = ""

In [18]:
name = "Jalen"
print("Hello ", name, "The Dawgs are good", "Get ready to win!", sep="$", end="\n")
print("Go Dawgs!")

Hello $Jalen$The Dawgs are good$Get ready to win!
Go Dawgs!

##### String Concatenation

In [19]:
first = "grady"
last ="dickerson"
full_name = first+ " "+last
print(full_name)
full_name += " is a funny guy"
print(full_name)

grady dickerson
grady dickerson is a funny guy

##### Type Conversion

In [20]:
# int() str() list() dict() tuple() set() float()

num1 = 3
num2 = "4"

print(num1 + int(num2))
print(str(num1)+num2)

7
34

##### input()

In [21]:
age = int(input("What is your age?"))

print(age)
print(type(age))

What is your age?5
5
<class 'int'>

##### format()

In [22]:
age = int(input("What is you age? "))
result_string= "You are {} years old and you are getting wiser!".format(age)
print(result_string)

What is you age? 5
You are 5 years old and you are getting wiser!

# *F-STRINGS*

In [23]:
age = int(input("What is your age? "))
x = "Blah blah blah is all I hear in class today"
result_string = f'You are {age} years old and getting wiser! {x}'
print(result_string)

What is your age? 5
You are 5 years old and getting wiser! Blah blah blah is all I hear in class today

##### Old Way (python 2)

In [24]:
age= "35"
result_str = "You are %s and you look great for your age!" %age
print(result_str)

You are 35 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [26]:
color = input("What is the color of your car? ")
year = int(input("What is the year of your car? "))
make = input("What is the make of your car? ")
model = input("What is the model of your car? ")
extra_message = "It looks really good!"
message_car = f"So you have a {color} {year} {make} {model}! {extra_message}"
print(message_car)

What is the color of your car? White
What is the year of your car? 1997
What is the make of your car? Honda
What is the model of your car? Passport
So you have a White 1997 Honda Passport! It looks really good!

### If Statements

In [39]:
num1 = 2
num2 = 20

if num1 != num2:
    print("Not Equal")
else:
    print("Equal")

Not Equal

In [50]:
num1 = 2
num2 = 20

if num1 > num2:
    print("num1 is greater")
elif num1 < num2:
    print("num1 is lesser")
else:
    print("num1 is equal to num2")

num1 is lesser

In [47]:
True and False

False

In [48]:
True and True

True

In [49]:
True or False

True

In [52]:
if num1 == 2 and num1 ==15:
    print("yes")
else:
    print("no")

no

In [53]:
#Ternary Operator...inline if statements

# [value if True] [if][boolean][else][value if false] 

name = "john"

my_num = 5 if name == "steve" else 0
print(my_num)

my_num = 5 if name == "steve" else 10 if name == "john" else 0
print(my_num)

0
10

##### 'is' keyword

In [54]:
# only use when asking if something is None
x = None

print(x)
print(x is None)
print(x is not None)

None
True
False

##### 'in' keyword

In [57]:
#membership checks

char_name = "Max Payne"
if "Max" in char_name:
    print("The character who lost everything...")
else:
    print("The character who gained everything...")

The character who lost everything...

##### 'not in' keyword'

In [59]:
sega_char = "Sonic"
if "S" not in sega_char.upper():
    print("S is not in the name ... !!!!")
else:
    print("The word has an S")

The word has an S

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [62]:
letter_check = input("Give me a name: ")

if "p" in letter_check.lower():
    print("There is a P in this name.")
else:
    print("There is not a P in this name.")

Give me a name: Phil
There is a P in this name.

## Using 'and'/'or' with If Statements

### Elif Statements

### Else Statements

### For Loops

In [66]:
# for [placeholder] in [iterable]
name = "Gareth Atkins"

for letter in name:
    print(f"The next letter is {letter}.")
    print("another line")
    
print("third line")

The next letter is G.
another line
The next letter is a.
another line
The next letter is r.
another line
The next letter is e.
another line
The next letter is t.
another line
The next letter is h.
another line
The next letter is  .
another line
The next letter is A.
another line
The next letter is t.
another line
The next letter is k.
another line
The next letter is i.
another line
The next letter is n.
another line
The next letter is s.
another line
third line

##### Using 'in' keyword

##### Continue Statement

In [89]:
name = "Gareth Atkins"

for letter in name:
    if letter == "r":
        print("The letter is r")
        continue
    print(f"the next letter is {letter}")
    print("another line")

the next letter is G
another line
the next letter is a
another line
The letter is r
the next letter is e
another line
the next letter is t
another line
the next letter is h
another line
the next letter is
another line
the next letter is A
another line
the next letter is t
another line
the next letter is k
another line
the next letter is i
another line
the next letter is n
another line
the next letter is s
another line

##### Break Statement

In [90]:
name = "Gareth Atkins"

for letter in name:
    if letter == "r":
        print("The letter is r")
        break
    print(f"the next letter is {letter}")
    print("another line")

the next letter is G
another line
the next letter is a
another line
The letter is r

##### Pass Statement

In [91]:
name = "Gareth Atkins"

for letter in name:
    pass

print("rest of program")

rest of program

In [94]:
foods = ["pizza", "tacos", "dim sum", "sushi"]

for food in foods:
    print(food)

pizza
tacos
dim sum
sushi

In [95]:
len(foods)

4

In [97]:
list(range(4))

[0, 1, 2, 3]

In [106]:
for index in range(len(foods)):
    print(index)
    print(foods[index])
    
for index in range(len(foods)):
    print(f"My number {index+1} food is {food}!")

0
pizza
1
tacos
2
dim sum
3
sushi
My number 1 food is sushi!
My number 2 food is sushi!
My number 3 food is sushi!
My number 4 food is sushi!

In [108]:
x, y=(1,2)
print(x)
print(y)

1
2

In [109]:
for index, food in enumerate(foods):
    print("at index", index, "is the food: ", food)

at index 0 is the food:  pizza
at index 1 is the food:  tacos
at index 2 is the food:  dim sum
at index 3 is the food:  sushi

##### Double For Loops

In [111]:
counter = 0

for i in range(5):
    for j in range(5):
        counter += 1
        print(f"i={i} j={j} total={counter}")
    print()

i=0 j=0 total=1
i=0 j=1 total=2
i=0 j=2 total=3
i=0 j=3 total=4
i=0 j=4 total=5

i=1 j=0 total=6
i=1 j=1 total=7
i=1 j=2 total=8
i=1 j=3 total=9
i=1 j=4 total=10

i=2 j=0 total=11
i=2 j=1 total=12
i=2 j=2 total=13
i=2 j=3 total=14
i=2 j=4 total=15

i=3 j=0 total=16
i=3 j=1 total=17
i=3 j=2 total=18
i=3 j=3 total=19
i=3 j=4 total=20

i=4 j=0 total=21
i=4 j=1 total=22
i=4 j=2 total=23
i=4 j=3 total=24
i=4 j=4 total=25

### While Loops

In [112]:
#while [boolean]:
    #do this codeblock

In [113]:
num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [117]:
while True:
    print("Hello")
    num=int(input("Guess the magic number: "))
    if num == 5:
        break

Hello
Guess the magic number: 3
Hello
Guess the magic number: 7
Hello
Guess the magic number: 5

##### While & For Loops Used Together

In [119]:
while True:
    user_input= input("What do you want to do? quit or continue")
    if user_input.lower() == "quit":
        break
    if user_input.lower() == "continue":
        print("You said continue")

What do you want to do? quit or continuecontinue
You said continue
What do you want to do? quit or continuequit

### Built-In Functions

##### range()

In [122]:
#range(start,stop,step)
#range(stop)
#range(start,stop
     
list(range(0,4,1))

[0, 1, 2, 3]

##### len()

In [124]:
len("hey")
len(str(1234))

4

##### help()

In [125]:

help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [126]:
num = 1
isinstance(num,str)

False

In [127]:
num = 1
isinstance(num,float)

False

In [129]:
num = 1
isinstance(num,int)

True

##### abs()

In [130]:
# |-5| = 5...dist from 0

print(abs(5))
print(abs(-5))

5
5

### Try and Except

### Lists

##### Declaring Lists

In [68]:
names = ["vanessa","patrick","moises","armani"]
print(names)

['vanessa', 'patrick', 'moises', 'armani']

##### Indexing a List

In [72]:
print(names[1])

a_list = [1,2,3,["a","b","c"],4]
print(names[3])

inner_list=a_list[3]
print(inner_list[1])

print(a_list[3][1])

print(a_list[-1])

patrick
armani
b
b
4

In [78]:
print(names[::-1])
print("Alex smells!"[::2])

print(names[1:4:-1])

my_string = "racecar"

if my_string == my_string[::-1]:
    print("It's a palindrome!")

['armani', 'moises', 'patrick', 'vanessa']
Ae mls
[]
It's a palindrome!

##### .append()

In [80]:
names.append("ramika")
print(names)

['vanessa', 'patrick', 'moises', 'armani', 'Ramika', 'ramika']

##### .insert()

In [81]:
names.insert(2,"sabrina")
print(names)

['vanessa', 'patrick', 'sabrina', 'moises', 'armani', 'Ramika', 'ramika']

##### .pop()

In [83]:
names.pop()
new_class=[]
names.pop()
new_class.append(names.pop())
print(names)
print(new_class)

['vanessa']
['patrick']


##### .remove()

In [85]:
names = ["vanessa","patrick","moises","armani","sabrina"]
names.remove("sabrina")
print(names)

['vanessa', 'patrick', 'moises', 'armani']

##### del()

In [86]:
# Don't use del in a for loop

del names[1]
print(names)

['vanessa', 'moises', 'armani']

##### Concatenating Two Lists

In [88]:
list1 = [1,2,3]
list2 = [4,5,6]
list1 + list2

list2.extend(list1)
list2

[4, 5, 6, 1, 2, 3]

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000, so if the cubed number is over 1000 break the loop.</p>

In [5]:
cubed_list = list(range(1000000))

for cubednum in cubed_list:
    if cubednum**3 < 1000:
        print(cubednum**3)

0
1
8
27
64
125
216
343
512
729

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [6]:
prime_list = list(range(2,101))

for primenum in prime_list:
    if primenum > 1:
        for index in range(2,primenum):
            if (primenum % index) == 0:
                break
        else:
            print(primenum)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [10]:
age = int(input("What is your age? "))

if age < 18:
    print("You are a kid!")
elif age >= 18 and age <= 65:
    print("You are an adult!")
else:
    print("You are a senior!")

What is your age? 68
You are a senior!